body { padding-top: 70px; }

.dataSegment{
	background: rgb(250, 241, 222);
	padding: 15px;
	text-align: center;
	padding-left: 12px !important;
    padding-right: 12px !important;
    vertical-align:middle;
    min-height: 113px;
}

.listtitle{
	font-size: 15px;
  	color: rgb(136, 133, 133);
}

.listMiddle{
	font-size: 25px;
	padding-top: 1px;
	padding-bottom: 1px;
}

.listnumber{
	min-height: 25px;
	font-size: 18px;
}

.percentage{
	display: inline-block;
}
.growthRate{
	display: inline-block;
}
.red{
	color: red;
}

.green{
	color: rgb(13, 219, 13);
}

.progress.ratioOrders{
	height: 100px;
}
.progress.progressGoal{
	height: 38px;
}

.newOldPercentage{
	font-size: 20px;
	line-height: 25px;
}
.newOldOrders{
	font-size: 45px;
  	line-height: 49px;
}

#OrdersAndMembersTable{
	text-align: center;
	font-size: 17px;
}

#OrdersAndMembersTable .th-inner {
	text-align: center;
}

.upNumberIC{
  font-size: 8pt;
  color: lightgray;
  position: absolute;
  margin-top: -9px;
  /* margin-bottom: 12px; */
  margin-left: 42px;
	
}
.top-buffer { margin-top:40px; }

.main{
  margin-bottom: 300px;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

#cohortTable{
	font-size: 12.2px;
}

.bootstrap-table .table#cohortTable, .bootstrap-table .table#cohortTable>tbody>tr>td, .bootstrap-table .table#cohortTable>tbody>tr>th, .bootstrap-table .table#cohortTable>tfoot>tr>td, .bootstrap-table .table#cohortTable>tfoot>tr>th, .bootstrap-table .table#cohortTable>thead>tr>td{
	padding: 6.9px !important;
}

.text-left{
	text-align:left !important;
}